.inner-cover {

text-align: center;
padding-top: 50px;

}

.inner-bottom {

text-align: center;
padding-top: 90px;

}

.lead {

padding-top: 20px;
align: 'center';
text-align: 'center';

}

.tags {

font-size: 1.1em;
align: 'center'

}

.intro-desc {

 margin-top: -5%;
 margin-bottom: 4em;

}

.code-lines {

 margin-top: -2%;
 margin-bottom: 0em;
 margin-left: 33em;

}

.price-text {
 
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 12em;
    padding-right: 12em;
    font-family: sans-serif;

}


.video {
 width: 50%;
 margin: 0 auto;
}


